
body {
	font-family:arial;
}

#page form {
	padding:10px;
}

#page label {
	display:inline-block;
	min-width:150px;
}

#page {
	position:relative;
	margin:auto;
	width:320px;
	border:2px solid black;
	border-radius:10px;
	height:480px;
}

#page .title {
	margin:10px;
	font-size:1.2em;
}

#main {
	position:absolute;
	top:40px;
	background-color:#eee;
	overflow-y:auto;
	height:400px;
	width:320px;
	padding:0px;
}

#header, #footer {
	position:absolute;
	width:100%;
	left:0px;
	height:40px;
	background-color:#ccf;
	z-index:100;
}

#header {	
	top:0px;
	border-radius:8px 8px 0px 0px;
	border-bottom: 1px solid black;
}

#footer {
	bottom:0px;
	border-radius:0px 0px 8px 8px;
	border-top: 1px solid black;
}

#header a, #footer a {
	display:block;
	font-size:.8em;
	color:black;
	float:left;
	height:18px;
	margin:5px 2px;
	padding:5px 8px;
	background-color:#ddd;
	border:1px solid #777;
	border-radius: 5px;
	text-decoration:none;
}

#header a.right, #footer a.right {
	float:right;
}

.listitem {
	margin:10px;
	border-bottom:1px solid #ddd;
	padding:10px;
}


#sharees, #exportmethods {
	margin:10px;
}

#sharees .listitem:hover , #exportmethods .listitem:hover {
	background-color:lightyellow;
}

#linkableapps a {
	float:right;
	text-decoration:none;
	display:inline-block;
	border:1px solid #aaa;
	background-color:#fff;
	padding:2px 5px;
	width:50px;
	text-align:center;
}

button.additem {
	display:block;
	width:90%;
	height:30px;
	text-align:center;
	margin:auto;
}







